<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <% title = data.title %>
    <% isbn = data.isbn %>
    <% authors = data.authors %>
    <% desc = data.description %>
    <div> Title : <%=title %> </div>
    <div> ISBN  : <%=isbn %> </div>
    <div> Authors : <%=authors %> </div>
    <div> Description : <%=desc %> </div>
    
</body>
</html>