<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<body>
    <h1> Book Entry </h1>
    <form action="http://localhost:3000/createbook" method="POST">
        <Legend>Title : </Legend>
        <input type="text" id="title" name="title">
        <Legend>ISBN : </Legend>
        <input type="text" id="isbn" name="isbn">
        <Legend>Authors : </Legend>
        <input type="text" id="authors" name="authors">
        <Legend>Description : </Legend>
        <input type="text" id="description" name="description">
        <input type="submit">
    </form>
</body>
</html>