<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <% title = data.title %>
    <% isbn = data.isbn %>
    <% authors = data.authors %>
    <% pub = data.publishedAt %>
    <div> Title : <%=title %> </div>
    <div> ISBN  : <%=isbn %> </div>
    <div> Authors : <%=authors %> </div>
    <div> PublishedAt : <%=pub %> </div>
    
</body>
</html>