<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1> Magzine Entry </h1>
    <form action="http://localhost:3000/createmagzine" method="POST">
        <Legend>Title : </Legend>
        <input type="text" id="title" name="title">
        <Legend>ISBN : </Legend>
        <input type="text" id="isbn" name="isbn">
        <Legend>Authors : </Legend>
        <input type="text" id="authors" name="authors">
        <Legend>Published At : </Legend>
        <input type="text" id="publishedAt" name="publishedAt">
        <input type="submit">
    </form>
</body>
</html>